<div class="container">
    <div class="row">
        <div class="col text-center">
            <img src="img/user.png" class="img-thumbnail rounded-circle bg-primary" width="200" alt="Okis Sienah">
            <h1 class="display-4">Okis Sienah</h1>
            <p class="lead">Mahasiswa dan Programmer</p>
        </div>
    </div>
</div>
    